@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --btn-primary-color: rgba(29, 231, 130, 1);
  --primary-weak: #bdf0c1;
  --text-primary: #101012;
}

::selection {
  background-color: #7713b1;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../dist/assets/bg.svg");
  background-repeat: repeat;
  position: relative;
}

.btn-home__navbar,
.btn-back,
.btn-book {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  gap: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-back a,
.btn-book a,
.btn-home__login a,
.btn-home__register a,
.btn-home__logout a {
  text-decoration: none;
  color: white;
}

.btn-home__logout {
  background-color: red;
}

.btn-home__login,
.btn-back {
  background-color: var(--btn-primary-color);
}

.btn-home__register,
.btn-book {
  border: 1px solid var(--btn-primary-color);
  background-color: transparent;
  color: white;
  transition: all 100ms ease-in-out;
}

.btn-home__register:hover,
.btn-book:hover {
  background-color: var(--btn-primary-color);
  color: black;
}

.header-text {
  color: white;
  text-align: center;
  text-shadow: var(--btn-primary-color) 0px 0px 17px;
  font-size: 6rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.list-film {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 32px;
  margin: 58px;
}

.list-film > img:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px 0px var(--btn-primary-color);
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.film-container {
  position: relative;
  margin: 20px;
  width: 200px;
}

.film-container img {
  display: block;
  width: 200px;
  /* height: auto; */
  transition: filter 0.3s ease;
  border-radius: 10px;
}

.film-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.film-container:hover .film-info {
  opacity: 1;
}

.film-container:hover img {
  filter: brightness(80%);
}

.divider {
  text-align: center;
  margin: 60px;
  animation: divider-animate 1s infinite alternate;
  cursor: pointer;
  color: white;
}

.divider a {
  text-decoration: none;
  color: white;
}

@keyframes divider-animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.body__section {
  display: flex;
  justify-content: space-between;
}

.body__section > div > img {
  margin: 48px;
}

.body__section h2 {
  display: flex;
  align-items: center;
  margin-left: 48px;
  font-size: 60px;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .header-text {
    font-size: 3rem;
    margin: 2rem;
  }

  .body__section {
    display: block;
  }

  .body__section h2 {
    font-size: 24px;
  }
}

footer::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: -20px;
  position: relative;
  background-color: var(--btn-primary-color);
  padding: 0;
  margin: 0;
}

footer {
  color: white;
  position: relative;
  padding: 20px;
  bottom: 0;
  background-color: black;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form input[type="text"] {
  padding: 24px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 24px;
  font-size: 16px;
  outline: none;
}

.centered-form button {
  background: none;
  border: none;
  cursor: pointer;
}

.centered-form button i {
  font-size: 20px;
  color: white;
}

.centered-form > button[type="submit"] {
  color: white;
  width: 100px;
  background-color: var(--btn-primary-color);
  padding: 24px;
  border-radius: 24px;
  transform: translateX(-100px);
}

.film-title {
  color: white;
  margin-left: 60px;
}

.film-details {
  gap: 24px;
  display: flex;
  margin: 2em;
  color: white;
}

.film-details img {
  width: 300px;
  height: auto;
  border-radius: 12px;
}
